# Config folders
.vscode/
.idea/

# Build folder
build/

# Prerequisites and object files
*.d
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
